<% if user_signed_in? %>
# if logged in show this
<h1>Congrats on the first step!</h1>
<% else %>



<div class="hero-unit">
	<h1>Welcome to Followspot!</h1>
	<p>
		Helping make events more social since 1999!
		<%= link_to "One month rails", "http://onemonthrails.com" %>
	</p>
	<p>
	 	<%= link_to "Start getting social!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>
<% end %>