<div class="hero-unit">
	<h1>Welcome to Followspot!</h1>
	<p>
		Helping make events more social since 1999!
		<%= link_to "One month rails", "http://onemonthrails.com" %>
	</p>
	<p>
	 	<a class="btn btn-primary btn-large">
	      Start getting social
	    </a>
	</p>
</div>